/*---------------------------------------------------
GLOBAL STYLES
---------------------------------------------------*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 500px;
  font-family: 'Marcellus', serif;
}

main {
  flex: 1 0 auto;
  position: relative;
  background-color: #f2f2f2;
 }

.container{
  width: 85%;
}
.row{
  margin-bottom:0px;
}
.row:after{
  clear: none;
}

/*---------------------------------------------------
HEADER STYLES
---------------------------------------------------*/
header{
  position: fixed;
  top: 0px;
  width: 100%;
}
.logo{
  font-size: 20px;
  color: #fff;
}

.design-logo{
  color: #a90004;
}


/*---------------------------------------------------
SLIDER STYLES
---------------------------------------------------*/
.slider .slides li .caption {
  top: 40%;
}

#jmigsdesign {
  left: 3%;
}

#slogan{
  left: -7%;
  top: 57%;
}

#creativity{
  font-family: 'Fredericka the Great', cursive;
}

#slogan-code{
  top: 56%;
  left: 3%;
}

/*---------------------------------------------------
MINI-HEADER STYLES
---------------------------------------------------*/
.mini-header {
  height: 80px;
  transition: all .7s ease;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1500,
}


.logo-container {
  height: 80px;
  transition: all .4s ease;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1500,
}

.logo{
  margin: 0 auto;
  font-size: 30px;
}

.mini-header a.logo {
  text-align: center;
  font-size: 25px;
  padding-bottom: 20px ;
  padding-top: 20px ;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.mini-header a{
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px ;
  padding-top: 20px ;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.mini-header.shrink a.logo {
  font-size: 18px;
  padding-bottom: 50px;
  padding-top: 10px;
}

.mini-header.shrink a {
  font-size: 12px;
  padding-bottom: 50px;
  padding-top: 10px;
}

.mini-header.shrink li {
  width: 30px;
}


.social-nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.social-nav>li {
    float: right;
    width: 40px;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.social-nav>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/*---------------------------------------------------
NAV STYLES
---------------------------------------------------*/
nav{
  margin-top: -60px;
  height: 60px;
  z-index: 1501;
  background-color: transparent;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
  transition:margin-bottom 0.5s ease;
  transition: background-color 0.3s ease;
}

nav ul a:hover{
  background-color: transparent;
}

.scroll{
  position: fixed;
  top: 40px;
  width: 100%;
  margin-top: 0;
}

.scroll-color{
  background-color: #423F3F;
}

li.navlink {
    float: left;
    width: 20%;
}
ul.navbar {
    text-align: center;
    overflow: auto;
    width: 100%;

}

.nav-icon {
    height: 0px;
    display: block;
    font-size: 20px;

    margin-top: 10px;
    position: relative;
}

.anchor:before {
  content:"";
  display:block;
  height: 10px;
  width: 100%;

}


/*---------------------------------------------------
WELCOME STYLES
---------------------------------------------------*/
#welcome-head-container{
  overflow: hidden;
  height: 330px;
  background-color: #e0e0e0;
}
#welcome-header{
  color: #f2f2f2;
  font-size: 200px;
  margin-top: 70px;
  position: relative;
  top: 120px;
  opacity: 0;
}

.welcome-body{
  height: 400px;
  background-color:#f2f2f2;
  margin-top: -100px;
  padding-top: 50px;
}
}

/*---------------------------------------------------
DEVELOPMENT STYLES
---------------------------------------------------*/

#dev-head-container{
  overflow: hidden;
  height: 330px;
  background-color: #f2f2f2;
}
#dev-header{
  opacity: 0;
  font-size: 200px;
  margin-top: 70px;
  text-align: right;
  position: relative;
  top: 112px;
  color: #e0e0e0;
}

#slide-container{
  width: 100%;
  overflow: hidden;
}

#slider{
  width: 100%;
  height:700px;
  position: relative;
  overflow: hidden;
  float:left;
}

#slide-wrap{
  height:700px;
  background-color: #E0E0E0;
  margin-top: -100px;

}

.slide{
  position: absolute;
}
/*
.prev {
  margin-left: 40px;
}
.next {
  margin-right: 40px;
  float: right !important
}

.prev, .next{
  position: relative;
  top:0px;
  z-index: 4;
  color:#a90004;
}*/



.game{
  height: 602px;
}

.slide-callout{
  margin-top: 70px;
}

.slide-heading{
  font-size: 40px;
}

.slide-text{
  width: 80%;
  font-size: 17px;
}

.slide-link{
  background-color: #a90004;
}

.btn:hover{
   background-color: #a90004;

}

.slide-left{
  margin-left: 50px;
}

.left-img {
  padding-top: 50px;
  padding-right:40px;
}

.right-img {
  padding-top: 50px;
  padding-left:40px;
}

#rpsls{
  padding-top: 75px;
}

.codo{
  color:#a90004;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.icon-container{
  margin-top: 20px;
}
.codo-tech, .rpsls-tech{
  font-size: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
}

.staythenight-tech, .db-tech{
  font-size: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 30px;
}

.svg{
  padding-top:15px;
}


/*---------------------------------------------------
PRINT STYLES
---------------------------------------------------*/
#print-head-container, #skills-head-container{
  overflow: hidden;
  height: 330px;
  background-color: #e0e0e0;
}
#print-header, #skills-header{
  color: #f2f2f2 ;
  font-size: 200px;
  margin-top: 70px;
  position: relative;
  top: 120px;
  opacity: 0;
}

#print.anchor, #skills.anchor{
  background-color: #e0e0e0;
}
.print-body, .skills-body{
  height: 400px;
  background-color:#f2f2f2;
  margin-top: -120px;
  position: relative;
  z-index: 2;
}

/*---------------------------------------------------
SKILLS STYLES
---------------------------------------------------*/
.skill-box{
  width: 200px;
  height: 200px;
  background-color: #a90004;
  color: #fff;
  margin-top: 40px;
  margin-left: 3.5%;
}

.skill-box-content{
  margin-left:auto;
  margin-right:auto;
}

.skill-icon{
  font-size: 100px;
}

.skill-text{
  text-align: center;
  font-size: 20px;
}

/*---------------------------------------------------
REPO STYLES
---------------------------------------------------*/
#repos-head-container, #contact-head-container{
  overflow: hidden;
  height: 330px;
  background-color: #f2f2f2;
}
#repos-header, #contact-header{
  color: #e0e0e0;
  font-size: 200px;
  margin-top: 70px;
  text-align: right;
  position: relative;
  top: 120px;
  opacity: 0;
}


#repos.anchor, #contact.anchor{
  background-color: #f2f2f2;
}

.repos-body{
  height: 400px;
  background-color: #e0e0e0;
  margin-top: -120px;
  position: relative;
  z-index: 2;
}

.contact-body{
  height: 400px;
  background-color: #e0e0e0;
  margin-top: -105px;
  position: relative;
  z-index: 2;
}

/*---------------------------------------------------
CONTACT STYLES
---------------------------------------------------*/

input:not([type])+label:after, input[type=text]+label:after, input[type=password]+label:after, input[type=email]+label:after, input[type=url]+label:after, input[type=time]+label:after, input[type=date]+label:after, input[type=datetime-local]+label:after, input[type=tel]+label:after, input[type=number]+label:after, input[type=search]+label:after, textarea.materialize-textarea+label:after {
    width: 130px;
}
/*---------------------------------------------------
FOOTER STYLES
---------------------------------------------------*/
footer{
  z-index: 2;
}

footer.page-footer{
  background-color: #423F3F;
  margin-top:0;
}

footer.page-footer .footer-copyright{
  background-color: rgba(51,51,51,1);
}
