body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


/*---------------------------------------------------
NAV STYLES
---------------------------------------------------*/
nav {
  margin-top: -70px;
  height: 70px;
  position: relative;
  z-index: 1000;
  background-color: transparent;
}

li {
    float: left;
    width: 20%;
}
ul.navbar {
    text-align: center;
    overflow: auto;
    width: 100%;
}

.nav-icon {
    height: 0px;
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 8px;
    position: relative;
}

.row1 {
  height: 200px;
  background-color: blue;
}

