body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 500px;
    }

  main {
    flex: 1 0 auto;
    position: relative;
    background-color: red;
  }

/*---------------------------------------------------
HEADER STYLES
---------------------------------------------------*/

  header{
    position: fixed;
    top: 0;
    width: 100%;
  }



/*---------------------------------------------------
NAV STYLES
---------------------------------------------------*/
nav {
  margin-top: -70px;
  height: 70px;
  z-index: 1000;
  background-color: transparent;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);;
}

.scroll{
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0;
}

li {
    float: left;
    width: 20%;
}
ul.navbar {
    text-align: center;
    overflow: auto;
    width: 100%;
}

.nav-icon {
    height: 0px;
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 8px;
    position: relative;
}

.row1 {
  height: 200px;
  background-color: blue;
}

