#welcome{
  background-color: #e0e0e0;
}

#development{
  background-color: #f2f2f2;
}

#design{
  background-color: #e0e0e0;
}


#clients{
  background-color: #f2f2f2;
}

.mid-row, .mid-row>div{
  background-color: #e0e0e0;
  height:200px;
}

.mid-row>div{
  overflow: hidden;
  position: relative;
}

.row{
margin-bottom: 0;
}

h1{
  position: relative;
  margin: 0;
  top: 150px;
}
